
* {
	padding: 0;
	margin: 0;
}
ul {
	list-style: none;
	
}
a{
	text-decoration: none;
}
.container{
	margin: 0px auto;
	max-width: 960px;
}
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#FFFFFF;
	background-color: #000;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
	padding: 20px 0px;
	transition: all 0.5s ease-in-out;
}
header.sticky{
	background: #FFFFFF;
	opacity: 0.9;
	padding: 15px 0px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5)
	
}
header.sticky logo{
	color: #000000;
}

header.sticky#menu a{
	color:#000000;
}
.inner-header{
	display: flex;
	justify-content:space-between;
	align-items: center;
}
#logo{
	color:#000000;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 25px;
	
}
ul#menu{
	display: flex;
}
ul#menu a{
	text-transform: uppercase;
	padding: 10px 20px;
	color:#000000;
	display: block;
	font-weight: bold;
	font-size: 18px;
}
ul#menu a:hover{
	color: rgb(231, 111, 31);
}
#banner{
	background:url(adafagwerheg.png);
	min-height: 400px;
	width: 100%;
}
#content h1{
	padding: 30px 0px;
	margin-bottom: 1.2rem;
}
#ae {
	max-width: 600px;
	height: 200px;
	width: 200;
	
	margin-top: 20px;

	transition: 2s;
	padding: 10px 15px;
	margin-left: 100px;
	
}
#ae2 {
	max-width: 600px;
	height: 200px;
	width: 200;
	margin-left: 10px;
	margin-top: 20px;

	transition: 2s;
	padding: 10px 15px;
	margin-left: 250px;
}

#ae3 {
	max-width: 600px;
	height: 300px;
	width: 400;
	margin-left: 250px;
	margin-top: 80px;
	transition: 2s;
	padding: 10px 15px;
	
}


	
ul.anh li{
	max-width: 550px;
	overflow: hidden;
}

ul.anh {
	display: flex;
}

#sp4 {
	text-decoration: none;
	margin-left: 100px;
	color: #000000;
	font-weight: bold;
	margin-top: 15px;
	}

#sp1{
	text-decoration: none;
	margin-left: 288px;
	color: #000000;
	font-weight: bold;
	margin-top: 15px;
}
#sp2{
	text-decoration: none;
	margin-left: 625px;
	color: #000000;
	font-weight: bold;
	margin-top: -22px;
}
#sp3{
	text-decoration: none;
	margin-left: 955px;
	color: #000000;
	font-weight: bold;
	margin-top: -22px;
	
}
#ae4 {

	max-width: 600px;
	height: 200px;
	width: 200px;
	margin-left: 230px;
	margin-top: 70px;
	transition: 2s;
	padding: 10px 15px;
	}	

ul.anh2 li{
	max-width: 500px;
	overflow: hidden;
}

ul.anh2{
	display: flex;
}


#sp4 {
	text-decoration: none;
	margin-left: 263px;
	color: #000000;
	font-weight: bold;
	margin-top: 15px;
	}

#ae5{
	max-width: 600px;
	height: 200px;
	width: 200px;
	margin-left: 100px;
	margin-top: 70px;
	transition: 2s;
	padding: 10px 15px;
	
}
#sp5{
	text-decoration: none;
	margin-left: 600px;
	color: #000000;
	font-weight: bold;
	margin-top: -22px;
	}
#ae6{
	max-width: 600px;
	height: 200px;
	width: 200px;
	margin-left: 100px;
	margin-top: 70px;
	transition: 2s;
	padding: 10px 15px;
	}
	
#sp6{
	text-decoration: none;
	margin-left: 935px;
	color: #000000;
	font-weight: bold;
	margin-top: -22px;
	}

	#chantrang{
	
		padding: 50px 80px;
		position: relative;
		
	}
	#chantrang2{
		position: absolute;
		margin-top: -110px;
		margin-left: 30px;
		font-size: 19px;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight:500;
		color: hsl(15, 42%, 52%);
	}
	#copyright{
		position: absolute;
		margin-top: -50px;
		margin-left: 500px;
		font-size: 13px;
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight:500;
		color: rgb(39, 39, 39);
		text-align: center;
	}